<configuration>
	<appSettings>
		<add key="syndicationFileName"		value="syndicationList.xml" />
		<add key="syndicationServer"		value="https://stage-syndication.hhs.gov" />
		<add key="syndicationPublishUrl"	value="/publisher/publish" />
		<add key="logFile"					value="syndication.log" />
	</appSettings>
</configuration>